@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-steel-900 text-steel-300 font-sans antialiased text-[15px] leading-relaxed;
  }
}

@layer utilities {
  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
  }
}
